.contact-article {
  background-color: $primary-color;
  text-align: center;

  h1 {
    color: #fff;
    text-transform: uppercase;
  }
}

.contact-form {
  margin: 0 auto;
  text-align: left;
  width: 600px;

  input[type="text"],
  input[type="email"],
  textarea {
    border: 1px solid rgba(50, 50, 50, .4);
    outline: none;
    width: 100%;
  }

  input[type="text"],
  input[type="email"] {
    background-color: transparent;
    border: 0;
    border-radius: 5px;
    height: 50px;
    margin: 10px 0;
    padding-left: 10px;
    position: relative;
    z-index: 10;
  }

  input[type="submit"] {
    background: transparent;
    border: 0;
    box-shadow: inset 0 0 15px -1px rgba(21, 63, 18, .3);
  }

  textarea {
    background-color: transparent;
    border: 0;
    border-radius: 5px;
    height: 250px;
    margin: 10px 0;
    padding-left: 10px;
    padding-top: 14px;
    position: relative;
    resize: none;
    z-index: 10;
  }

  label {
    display: inline-block;
    padding: 13px 10px 15px;
    position: relative;
    width: 600px;
    z-index: 5;
  }
  
  .hide-label {
    background-color: rgba(0, 0, 0, .04);
    border: 1px solid rgba(97, 73, 16, .16);
    border-radius: 5px;
    color: rgba(0, 0, 0, .63);
    font-weight: 400;
    opacity: .5;
    padding-left: 10px;
    top: 60px;
    transition: top .3s ease;
  }

  .show-label {
    font-weight: 100;
    text-decoration: underline;
    top: 0;
    transition: top .3s ease;
  }
}
