footer {
  background-color: $brown;
  border-top: solid 10px #4a3504;
  color: lighten($primary-color, 30%);
  padding: 50px 0 70px;
  text-align: center;
  
  img {
    cursor: pointer;
    height: 30px;
    margin: 10px;
    opacity: .3;
    transition: opacity .3s;

    &:hover {
      opacity: 1;
      transition: opacity .3s;
    }
  }

  li:nth-child(2) {
    font-weight: 600;
    text-transform: uppercase;
  }

  li:nth-child(3) {
    font-weight: 100;
  }
}
