section {
  padding: 0 100px;
  width: 100%;
}

article {
  margin: 50px 0 100px;

  .full-width-img {
    margin: 0 auto;
  }
}

.simple-article {
  text-align: center;
}

.contact-article {
  text-align: center;
}
