<article class="about-article">
  <i class="fa fa-users wow animated pulse"></i>
  <h1 class="wow animated lightSpeedIn">About the CO-OP</h1>
  <p class="wow animated lightSpeedIn">Individually, all of us here are talented, motivated and self-starting
    individuals who have a passion for  their field.  Together, we are an
    unstoppable group who love working together and helping others dreams
    become realities.  Some values we all hold are respect, honestly and to
    always be learning.  We all have full-time jobs outside of this CO-OP, but
    chose to be a part of this simply because we love what we do, and we all
    hold similar goals.  We give back to our communites.  It just feels
    great to be a part of a group. Call us  a Super-Band :)</p>
</article>