<article class="about-article" id="about">
  <i class="fa fa-users wow animated pulse"></i>
  <h1 class="wow animated lightSpeedIn">About the CO-OP</h1>
  <p class="wow animated lightSpeedIn">Every individual here is talented, motivated and self-starting. We each have a passion for our field of experience. Together, we are an
    unstoppable group who love working together and helping others' dreams
    become reality.  Some values we share are respect, honestly and to
    continue to strive for excellence.  We all have full-time jobs outside of this CO-OP, but
    choose to be a part of this simply because we love what we do.</p>
</article>