<article class="contact-article">
  <h1>Contact Us</h1>
  <form class="contact-form">
    <label class="hide-label">How did you hear about us?</label>
    <input type="text" name="hearAbout">
    <label class="hide-label">What is your name?</label>
    <input type="text" name="fullName" required>
    <label class="hide-label">Email Address</label>
    <input type="text" name="emailAddress" required>
    <label class="hide-label">How Can We Help You?</label>
    <textarea name="emailAddress" required></textarea>
  </form>
</article>