<article class="contact-article" id="contact">
  <h1 class="wow animated pulse">Contact Us</h1>
  <form action="https://docs.google.com/forms/d/1zB1v2df18G4XxddMzRDiO_qY5KFuRU9xZY6Tj51njcc/formResponse" method="POST" id="ss-form" target="_self" class="contact-form">
    <label class="hide-label">How did you hear about us?</label>
    <input type="text" name="entry.340222189" value="" class="ss-q-short" id="entry_340222189" dir="auto" aria-label="how did you hear about us">

    <label class="hide-label">What is your name?</label>
    <input type="text" name="entry.913549829" value="" class="ss-q-short" id="entry_913549829" dir="auto" aria-label="what is your name  " aria-required="true" required="" title="">

    <label class="hide-label">Email Address</label>
    <input type="email" name="entry.1243076929" value="" class="ss-q-short" id="entry_1243076929" dir="auto" aria-label="email address  Must be a valid email address" aria-required="true" required="" title="Must be a valid email address">

    <label class="hide-label">How Can We Help You?</label>
    <textarea name="entry.884158046" rows="8" cols="0" class="ss-q-long" id="entry_884158046" dir="auto" aria-label="how can we help you?  " aria-required="true" required=""></textarea>

    <input type="submit" name="submit" value="Submit" id="ss-submit" class="jfk-button jfk-button-action ">
  </form>
</article>