<article class="contact-article" id="contact">
  <h1 class="wow animated pulse">Contact Us</h1>
  <script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe"
style="display:none;" onload="if(submitted)
{window.location='http://offthegridcoders.github.io/otg-marketingsite/dist/';}"></iframe>
<form action="https://docs.google.com/forms/d/1zB1v2df18G4XxddMzRDiO_qY5KFuRU9xZY6Tj51njcc/formResponse" method="post"
target="hidden_iframe" onsubmit="submitted=true;" class="contact-form">

    <label class="hide-label">How did you hear about us?</label>
    <input type="text" name="entry.340222189" id="entry_340222189" dir="auto" aria-label="how did you hear about us">

    <label class="hide-label">What is your name?</label>
    <input type="text" name="entry.913549829" id="entry_913549829" dir="auto" aria-label="what is your name  " aria-required="true" required>

    <label class="hide-label">Email Address</label>
    <input type="email" name="entry.1243076929" id="entry_1243076929" dir="auto" aria-label="email address  Must be a valid email address" aria-required="true" required title="Must be a valid email address">

    <label class="hide-label">How Can We Help You?</label>
    <input name="entry.884158046" id="entry_884158046" dir="auto" aria-label="how can we help you?" aria-required="true" required>

    <input type="submit" name="submit" value="Submit" id="ss-submit" class="jfk-button jfk-button-action ">
  </form>
</article>