<article class="team-article" id="team">
  <h1 class="wow animated pulse">The Team</h1>
  <ul class="team-list">
    <li class="single-member clearfix">
      <img class="profile-pic wow animated pulse" src="assets/team/stephen.png">
      <h1 class="wow animated lightSpeedIn">Stephen Young</h1>
      <h2>Founder / Developer / Whovian</h2>
      <ul class="social-list">
        <li><i class="fa fa-twitter-square"></i></li>
        <li><i class="fa fa-linkedin-square"></i></li>
        <li><i class="fa fa-github-alt"></i></li>
      </ul>
      <p>I’m an experienced front end web developer with a passion for creating beautiful websites for companies and individuals. Some of my skills include Angular.js, jQuery, HTML5, CSS3, Sass, Lint, Karma, Gulp, Protractor, Git and Photoshop.</p>
    </li>
    <li class="single-member clearfix">
      <img class="profile-pic wow animated pulse" src="assets/team/jesse.png">
      <h1 class="wow animated lightSpeedIn">Jesse Tremblay</h1>
      <h2>Co-Founder / User Experience / Race Car Driver</h2>
      <ul class="social-list">
        <li><i class="fa fa-twitter-square"></i></li>
        <li><i class="fa fa-linkedin-square"></i></li>
      </ul>
      <p></p>
    </li>
    <li class="single-member clearfix">
      <img class="profile-pic wow animated pulse" src="assets/team/david.png">
      <h1 class="wow animated lightSpeedIn">David Young</h1>
      <h2>Developer / Traveller</h2>
      <ul class="social-list">
        <li><i class="fa fa-twitter-square"></i></li>
        <li><i class="fa fa-linkedin-square"></i></li>
        <li><i class="fa fa-github-alt"></i></li>
      </ul>
      <p>Junior developer with plans of growing and learning more about programming languages and web applications. Currently I have been working with HTML5, CSS3, and JQuery.</p>
    </li>
    <li class="single-member clearfix">
      <img class="profile-pic wow animated pulse" src="assets/team/evan.png">
      <h1 class="wow animated lightSpeedIn">Evan Mora</h1>
      <h2>Photographer / Austinite</h2>
      <ul class="social-list">
        <li><i class="fa fa-twitter-square"></i></li>
        <li><i class="fa fa-linkedin-square"></i></li>
        <li><i class="fa fa-github-alt"></i></li>
      </ul>
      <p>The photographer with "can do" attitude. Experience and know-how to make take any assignment to the next level. A photographer who is a fascinated with the experience between the photographer and the clients as with the final image.</p>
    </li>
    <li class="single-member clearfix">
      <img class="profile-pic wow animated pulse" src="assets/team/cayce.png">
      <h1 class="wow animated lightSpeedIn">Cayce Ward</h1>
      <h2>Customer Relations / Writer</h2>
      <ul class="social-list">
        <li><i class="fa fa-twitter-square"></i></li>
        <li><i class="fa fa-linkedin-square"></i></li>
      </ul>
      <p></p>
    </li>
  </ul>
</article>