<article class="team-article">
  <h1>The Team</h1>
  <p>In order to have joined our CO-OP each member must have given back
    to the community somehow. To us, given back is very important
    and its a value we live by.</p>
  <ul class="team-list">
    <li class="single-member">
      <img class="profile-pic" src="assets/team/stephen.png">
      <h1>Stephen Young</h1>
      <h2>Founder / Developer / Creative</h2>
      <ul class="social-list">
        <li><i class="fa fa-twitter-square"></i></li>
        <li><i class="fa fa-linkedin-square"></i></li>
        <li><i class="fa fa-github-alt"></i></li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat 
        volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation 
        ullamcorper...</p>
    </li>
    <li class="single-member">
      <img class="profile-pic" src="assets/team/stephen.png">
      <h1>Stephen Young</h1>
      <h2>Founder / Developer / Creative</h2>
      <ul class="social-list">
        <li><i class="fa fa-twitter-square"></i></li>
        <li><i class="fa fa-linkedin-square"></i></li>
        <li><i class="fa fa-github-alt"></i></li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat 
        volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation 
        ullamcorper...</p>
    </li>
    <li class="single-member">
      <img class="profile-pic" src="assets/team/stephen.png">
      <h1>Stephen Young</h1>
      <h2>Founder / Developer / Creative</h2>
      <ul class="social-list">
        <li><i class="fa fa-twitter-square"></i></li>
        <li><i class="fa fa-linkedin-square"></i></li>
        <li><i class="fa fa-github-alt"></i></li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat 
        volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation 
        ullamcorper...</p>
    </li>
    <li class="single-member">
      <img class="profile-pic" src="assets/team/stephen.png">
      <h1>Stephen Young</h1>
      <h2>Founder / Developer / Creative</h2>
      <ul class="social-list">
        <li><i class="fa fa-twitter-square"></i></li>
        <li><i class="fa fa-linkedin-square"></i></li>
        <li><i class="fa fa-github-alt"></i></li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
        nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat 
        volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation 
        ullamcorper...</p>
    </li>

  </ul>
</article>