@mixin button-styles($color) {
  background-color: $color;
  border: solid 1px darken($color, 25%);
  box-shadow: inset 0 0 45px -1px darken($color, 25%);

  &:hover {
    background-color: lighten($color, 5%);
    transition: background-color .5s;
  }
}


.btn-branded {
  color: #fff;
  outline: none;
  padding: 10px 20px;
  text-transform: uppercase;
}

.btn-green {
  @include button-styles($green);
}

.btn-orange {
  @include button-styles($orange);
}
