nav {
  color: #fff;
  height: 60px;
  left: 0;
  overflow: hidden;
  padding: 10px 0;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  z-index: 9000;

  h1 {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    margin: 5px 0 5px 20px;
    
    @media screen and (max-width: 550px) {
      font-size: 12px;
    }
  }

  ul {
    float: right;
  }

  li {
    border-color: transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin: 5px;
    padding: 5px 15px;

    @media screen and (max-width: 550px) {
      padding: 5px;
      font-size: 12px;
      margin-top: 0;
    }

    &:hover {
      border-bottom: 1px solid #fff;
    }
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

.solid-nav {
  background-color: rgba(255, 255, 255, .15);
  
  @media screen and (max-width: 550px) {
    background-color: #fff;
    height: 48px;
  }

  h1,
  a {
    color: rgba(0, 0, 0, .08);
    transition: color .3s;
  }

  &:hover {
    background-color: #fff;
    color: rgba(0, 0, 0, .66);
    transition: color .3s;

    li:hover {
      border-bottom: 1px solid rgba(0, 0, 0, .66);
    }
    
    h1 {
      color: rgba(0, 0, 0, .66);
      transition: color .3s;
    }

    a {
      color: rgba(0, 0, 0, .66);
      transition: color .3s;
    }
  }
}
