nav {
  color: #fff;
  height: 60px;
  left: 0;
  overflow: hidden;
  padding: 10px 0;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  width: 100%;
  z-index: 9000;

  h1 {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    margin: 5px 0 5px 20px;
  }

  ul {
    float: right;
  }

  li {
    border-color: transparent;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin: 5px;
    padding: 5px 15px;

    &:hover {
      border-bottom: 1px solid rgba(0, 0, 0, .66);
    }
  }
}

.solid-nav {
  background-color: rgba(255, 255, 255, .15);
  
  h1,
  li {
    color: rgba(0, 0, 0, .08);
    transition: color .3s;
  }

  &:hover {
    color: rgba(0, 0, 0, .66);
    transition: color .3s;

    h1 {
      color: rgba(0, 0, 0, .66);
      transition: color .3s;
    }

    li {
      color: rgba(0, 0, 0, .66);
      transition: color .3s;
    }
  }
}
